<div  class="disappear_profile" id="login_screen_container">
    <h3 id="login_text" class="login_screen">Login to your account</h3>
    <input type="text" id="username_login" class="login_screen" placeholder="Username">
    <input type="password" id="password_login" class="login_screen" placeholder="password">
    <input type="button" value="login" id="login_btn" class="login_screen">
</div>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
        <img src="cv-0.jpg" class="d-block w-100 carousel_img" alt="...">
    </div>
    <div class="carousel-item active" data-bs-interval="2000">
        <img src="cv-1.jpg" class="d-block w-100 carousel_img" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
        <img src="cv-2.jpg" class="d-block w-100 carousel_img" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
        <img src="cv-4.jpg" class="d-block w-100 carousel_img" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
        <img src="cv-5.webp" class="d-block w-100 carousel_img" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
        <img src="cv-6.webp" class="d-block w-100 carousel_img" alt="...">
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
        
        
